.DS_Store
release/macos/ft2-clone-macos.app/Contents/MacOS/ft2-clone-macos
vs2026_project/.vs/*
vs2026_project/enc_temp_folder/*
vs2026_project/ft2-clone/Release/*
vs2026_project/ft2-clone/Debug/*
vs2026_project/ft2-clone/x64/*
*.exe
*.db
*.ilk
*.pdb
*.obj
*.log
*.res
*.tlog
*.idb
*.cache
*.ipch
*.opendb
*.cod
*.db-wal
*.db-shm
*.recipe
*.iobj
*.enc
