
vs2019_project/.vs/ft2-clone/v16/.suo
vs2019_project/ft2-clone/Release/ft2-clone.vcxproj.FileListAbsolute.txt
vs2019_project/ft2-clone/x64/Debug/ft2-clone.vcxproj.FileListAbsolute.txt
vs2019_project/ft2-clone/Debug/ft2-clone.vcxproj.FileListAbsolute.txt
.DS_Store
*.exe
*.db
*.ilk
*.pdb
*.obj
*.log
*.res
*.tlog
*.idb
*.cache
*.ipch
*.opendb
*.cod
*.db-wal
*.db-shm
*.recipe
*.iobj
*.enc
