
*.db
*.ilk
*.pdb
*.log
*.res
*.tlog
*.obj
*.idb
*.exe
*.cache
vs2019_project/.vs/ft2-clone/v16/.suo
*.ipch
.DS_Store
vs2019_project/ft2-clone/Release/ft2-clone.vcxproj.FileListAbsolute.txt
vs2019_project/ft2-clone/x64/Debug/ft2-clone.vcxproj.FileListAbsolute.txt
*.cod
